{% extends "layout.html" %}

{% block style %} 
<link rel="stylesheet" href="/static/css/contest.css"/>
<link rel="stylesheet" href="/static/css/form.css"/>
{% endblock %}

{% block Title %} Contests {% endblock %}

{% block main %}


{% if Manger is true%}
<form class="form-detail" action="#" method="post", style="display: flex; justify-content: space-evenly; background-color: rgba(144, 143, 142, 0.216);">

  <div class="form-row">
    <button type="submit" class="register"><h4>Add Contest</h4></button>
  </div>

</form>

{% endif%}

<div class="table-container">
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Writers</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Registartion</th>
            </tr>
          </thead>
    {% for contest in contests %}
          <tbody>
            <!-- Repeat this row for each entry -->
            <tr class="entry">
              <!-- Name -->
              <td><a href="/contests/{{contest['id']}}">{{contest['contest_name']}} #{{contest['id']}}</a></td>

              <!-- Writers -->
              <td class="writers">
                <a href="/profile/Saged Rayan" class="tcc">Saged Rayan</a>
                <a href="/profile/Abdelrahman Atef">Abdelrahman Atef</a>
                <a href="/profile/Zyad Hany">Zyad Hany</a>
                <a href="/profile/Basmala Adel">Basmala Adel</a>
              </td>

              <!-- Start -->
              <td> {{contest['start_time']}}</td>

               <!-- Length -->
               <td>{{contest['duration']}}</td>

               <!-- Final standings -->
               <td>x55583</td>
          </tr>

          <!-- ... other rows ... -->

      </tbody>
      {% endfor %}
  </table>
</div>



{% endblock %}
