{% extends "layout.html" %}

{% block Title %} Blogs {% endblock %}

{% block main %}

{% for i in range(1, 5) %}

<div class="post" style="margin-bottom: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Adipisci mollitia soluta beatae consectetur odio temporibus, est neque nemo cumque dolor, id minima saepe facilis alias. Nam omnis numquam tenetur rem?
  Aliquid vel maxime qui sed, quidem cum architecto doloremque, eligendi voluptates porro beatae ullam vitae praesentium quia modi numquam voluptatum corporis officiis tenetur vero! Quasi voluptas ad earum assumenda fugiat!
</div>

{% endfor %}
{% endblock %}
