
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layoutstyle.css"/>
    {% block style %} {% endblock %}
    <title>CodeHuck</title>
  </head>
  <body>
    <header>
      <div class="links">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/groups">Groups</a></li>
          <li><a href="/contests">Contests</a></li>
          <li><a href="/problems">Problems</a></li>
          <li><a href="/submissions">Submissions</a></li>
        </ul>
        <ul>
          <li><a href="/logout" id="logout">Logout</a></li>
        </ul>
      </div> 
    </header>
    <div class="content">
      <aside class="content-body">
        <h2> {% block Title%} {% endblock %} </h2>
        <hr>
        {% block main %} {% endblock %}    
      </aside> 
      <aside>
        <div class="body-right-bar">
          <img src="/static/css/homeim.png" alt="Profile Image">
            <h2>{{user['handle']}}</h2>
            <p>Rating: {{user['rate']}}</p>
            <p>Problems Solved: {{user['solved']}}</p>
            <p>{{user['status']}}</p>
        </div>
        {% block RightBar %} {% endblock%}
      </aside> 
    </div>
  </body>
</html>
