{% extends "loging_page.html" %}

{% block title%} Register Page {%endblock%}

{% block main %}
<form class="form-detail" action="/register" method="post">
  <h4 class="error-message">{{ message }}</h4>
  <h2>Register Your Account</h2>
  <div class="form-row">
    <label for="Handle">Handle</label>
    <input type="text" name="handle" id="Handle" class="input-text" placeholder="Your Name" required>
    <i class="fas fa-user"></i>
  </div>
  <div class="form-row">
    <label for="your-email">Email</label>
    <input type="text" name="email" id="your-email" class="input-text" placeholder="Your Email">
    <i class="fas fa-envelope"></i>
  </div>
  <div class="form-row">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
    <i class="fas fa-lock"></i>
  </div>
  <div class="form-row-last">
    <input type="submit" name="register" class="register" value="Register">
  </div>
</form>
{% endblock %}

                
   